<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div style="background-color: rgb(14, 82, 142);"> Debauge</div>
<div style="background-color: rgb(14, 82, 142);">Louis Debauge</div>
<span style="background-color: green;">Madona</span>
<span style="background-color: green;">Pablo</span>
  <p>Sylvie</p>  
</body>
</html>