h1 {
   color:cornflowerblue ; 
   text-align: center;
   text-decoration: overline;
   text-transform: uppercase;
   font-size: 70px;
   text-shadow: 10px 2px 3px blueviolet;
}

    p
{

    text-indent: 50px;
    text-s
}